<main-layout>
	<link rel="stylesheet" href="pages/customer/manage.css">
	<div hidden="true" v-title>客户主动上报信息</div>
	
	<!-- 弹框 -->
	<div class="mask hidden">
		<div id="dialogContact" title="客户主动上报信息" style="padding: 0;overflow: visible">
			<div class="row">
				<div class="col-md-12">
					<div class="panel">
		            	<div class="panel-body">
		                	<form class="form-horizontal">
		                        <div class="form-group">
		                            <label class="col-md-3 control-label">手机*</label>
		                            <div class="col-md-9">
		                            	<input type="text" readonly="readonly"  maxlength=16 id="telphone" v-model="telphone" class="form-control"/>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label class="col-md-3 control-label">称呼</label>
		                            <div class="col-md-9">
		                            	<input id="name" type="text" maxlength=12 v-model="call" class="form-control" />
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label class="col-md-3 control-label" >性别</label>
		                            <div class="col-md-9">
		                            	<input type="radio" name="gender" v-model="gender" checked id="male" value="M"/> <label for="male">男</label> &nbsp;&nbsp;
		                            	<input type="radio" name="gender" v-model="gender" id="female" value="F"/><label for="female">女</label>
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label class="col-md-3 control-label">IP</label>
		                            <div class="col-md-9">
		                            	<input id="estate" type="text" readonly="readonly" maxlength=30 v-model="ip" class="form-control" />
		                            </div>
		                        </div>
		                        <div class="form-group">
		                            <label class="col-md-3 control-label">备注</label>
		                            <div class="col-md-9">
		                            	<textarea id="info" type="textarea" maxlength=500 v-model="info" class="form-control" ></textarea>
		                            </div>
		                        </div>
							</form>
							<hr/>
							<div class="col-md-12 text-center">
								<button class="btn public-btn btn-lg btn-margin" @click="confirm()">确认</button>
								<button class="btn del-btn btn-lg btn-margin" @click="cancel()">取消</button> 
							</div>
						</div>
					</div>
				</div>
			</div>
    	</div>
    </div>
	
    <div class="container-fluid">
    	<h2 v-show='noData'>请稍后，加载中...</h2>
    	<div class="panel-heading">
			
		    <div class="pull-right">
		    	<div class="form-inline">
			        <div class="pull-left">
				    	<label class="control-label">是否联络</label>
		                <select id="selectmenu" class="form-control" @change="loadPage()" v-model="isContacted">
				        	<option value=''>全部</option>
				            <option value='Y'>是</option>
				            <option value='N'>否</option>
						</select>
			            <div class="form-group">
                        	<label class="control-label">模糊查询</label>
							<input class="form-control" type="text" placeholder="称呼/手机号..." v-model='keyword'/>
                        </div>
			        </div>
			        <button class="btn search-btn btn-lg btn-margin pull-left" @click="loadPage()">查询</button>
			        <button class="btn public-btn btn-lg btn-margin pull-left" @click="reset()">重置</button>
					<button class="btn public-btn btn-lg btn-margin pull-left" @click="exportExcel()">导出</button>
		    	</div>
	    	</div>
		    <div class="clearfix"></div> 
    	</div>
    	<div class="row" >
			<div class="panel-body no-padding">
				<table class="table table-hover responsive table-wide" >
		        	<thead>
			            <tr>
			              <th>
			              	<label class="">
								<input type="checkbox" id="checkAll" @click="selectAll" />
								<span></span>
							</label>
			              </th>
			              <th>序号</th>
			              <th style="min-width:60px">操作</th>
						  <th style="min-width:100px">手机</th>
						  <th style="min-width:80px">称呼</th>
			              <th style="min-width:60px">性别</th>
						  <th style="min-width:100px">IP</th>
						  <th style="min-width:100px">备注</th>
						  <th style="min-width:100px">是否联络</th>
						  <th style="min-width:100px">联络时间</th>
						  <th style="min-width:100px">编辑时间</th>
						  <th style="min-width:100px">添加时间</th>
			            </tr>
					</thead>
          
					<tbody class="text-center">
						<tr v-for = "(item,index) in totalData">
			            	<td>
			            		<label class="">
									<input type="checkbox" :value='item.id' @click="selectOne" >
									<span></span>
								</label>
			            	</td>
			            	<td>{{(index+1)}}</td>
			            	<td style="word-wrap:break-word;word-break:break-all;">
			            		<a style="cursor:pointer !important;font-size:14px;color:#f59d23;text-align:center;display:block" @click="edit(index)" >编辑</a>
			            		<a v-show="!item.contactedTime" style="cursor:pointer !important;font-size:14px;color:#f59d23;text-align:center;display:block" @click="markContact(item.id)" >标记为联络</a>
			            	</td>
			                <td>{{item.telphone}}</td>
			                <td>{{item.call}}</td>
			                <td>{{item.gender | genderFormat() }}</td>
			                <td>{{item.ip}}</td>
			                <td style="word-wrap:break-word;word-break:break-all;">{{item.info}}</td>
			                <td>{{item.contactedTime?'是':'否'}}</td>
			                <td>{{item.contactedTime}}</td>
							<td>{{item.updatedTime | dateOnly() }}</td>
							<td>{{item.createdTime | dateOnly() }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
    	<!-- 分页    -->
        <div class="main" align="center" v-show='!noData'>
            <div id="table-pa" class="pagination"></div>
        </div>
        
	</div>
</main-layout>