<main-layout>
	<div hidden="true" v-title>广播室</div>
    <div class="container">
    	<div class="row" >
    		<div class="col-sm-4 border-div chat-box" style="overflow: auto;">
    			<h4>在线成员 <span style="float:right">{{members.length}} 人</span></h4>
    			<hr>
    			<table class="table">
				  <thead>
				    <tr style="color: rgb(192, 26, 85);">
				      <th><span class="glyphicon glyphicon-sort-by-attributes-alt"></span> No. </th>
				      <th><span class="glyphicon glyphicon-earphone" ></span> IP </th>
				      <th><span class="glyphicon glyphicon-globe"> 地区 </span></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr v-for="(item, index) in members" class="active">
				      <td><span class="badge">{{ index + 1 }}</span></td>
				      <td><span>{{ item.ip }}</span></td>
				      <td><small style="overflow: hidden;">{{ item.location }}</small></td>
				    </tr>
				  </tbody>
				</table>
    		</div>
    		<div class="col-sm-7 border-div chat-box" style="margin-left:5px" id="chat_box">
    			<h4>广播内容 </h4>
    			<div id="chat-board" class="border-div" style="height: 65%;overflow: auto;">
    				
    			</div>
    			<textarea v-model="content" placeholder="请输入要广播的内容" maxlength="100" @keyup="checkMsg" class="border-div" style="height: 20%;width: 78%;margin-top: 10px">
    				
    			</textarea>
    			<button id="sendBtn" type="button" @click="sendMsg" style="margin-left: 10px;margin-bottom: 35px;" disabled="disabled" class="btn btn-primary" >发 送</button>
    		</div>
		</div>
	</div>
</main-layout>