<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd	
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- 为了Spring MVC来用的，提供Controller请求转发，json自动转换等功能 -->
	<mvc:annotation-driven />
	
	<!-- 配置资源 -->
	<mvc:resources mapping="/static/**" location="/static/"/>
	<mvc:resources mapping="/pages/**" location="/pages/"/>
	
	<context:component-scan base-package="com.biner.ru" />
	
	<!-- 读取配置文件 -->
	<context:property-placeholder location="classpath:config.properties" ignore-unresolvable="false" />
	

    <!--文件上传组件 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	    <property name="maxUploadSize" value="512000"></property>
	    <property name="maxInMemorySize" value="10240"></property>
	    <property name="defaultEncoding" value="UTF-8"></property>
	</bean>

	<!-- 拦截器 -->
	<mvc:interceptors>  
		
		<!-- 入参解密拦截器 -->
		<mvc:interceptor>
		    <mvc:mapping path="/**" />
		    <mvc:exclude-mapping path="/static/**" />
		    <mvc:exclude-mapping path="/pages/**" />
		    <bean class="com.biner.ru.interceptor.CipherInterceptor" />
		</mvc:interceptor>
	        
		<mvc:interceptor>
		    <mvc:mapping path="/**" />
		    <mvc:exclude-mapping path="/static/**" />
		    <mvc:exclude-mapping path="/pages/**" />
		    <mvc:exclude-mapping path="/**/token/**" />
		    <bean class="com.biner.ru.interceptor.TokenInterceptor" />
		</mvc:interceptor>
		
	</mvc:interceptors>  
	


</beans>