<main-layout>
	<div hidden="true" v-title>登录</div>
    <div class="container">
      <div align="center" style="width: 60%" >
      	<div class="alert" hidden="hidden"  id="warn_div">
		    <a href="#" class="close" data-dismiss="alert">
		        &times;
		    </a>
		    <strong >{{ hintMsg }}</strong> 
		    <span v-if="success">
		    	<button type="button" class="btn btn-primary" @click="goToHome">去主页</button>
		    </span>
		</div>
      	<form class="form-horizontal" role="form">
      	  <div class="form-group has-feedback" id="mail_div">
		    <label class="col-sm-2 control-label" for="mail">邮箱</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" v-model="mail" 
		      	@keyup="checkMail" placeholder="请输入邮箱" maxlength="30">
		      <span class="glyphicon form-control-feedback"></span> 
		    </div>
		  </div>
		  <div class="form-group has-feedback" id="password_div">
		    <label class="col-sm-2 control-label" for="password">输入密码</label>
		    <div class="col-sm-10">
		      <input type="password" class="form-control" v-model="password"
		      	@keyup="checkPassword" placeholder="请输入密码，由字母、数字、特殊字符组成，长度6~16位" maxlength="16">
		      <span class="glyphicon form-control-feedback"></span> 	
		    </div>
		  </div>
		  
		  <div class="form-group has-feedback" id="code_div">
		    <label class="col-sm-2 control-label" for="mail">验证码</label>
		    <div class="col-sm-7">
		      <input type="text" class="form-control" v-model="code"
		       @keyup="checkCode" placeholder="请输入验证码" maxlength="4">
		      <span class="glyphicon form-control-feedback"></span> 
		    </div>
		    <div class="col-sm-3">
		    	<img id="img" @click="changeImg()" class="code-img pointer-hover" src="authImage" title="点击更换验证码"/>
		    </div>
		  </div> 
		  
		  <div class="form-group has-error" style="display:none" id="hint_div">
		     <label class="control-label">红色框内容输入不符合，请确认后重新输入</label>
		  </div> 
		  
		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-sm-3 col-md-offset-3">
	   		    	<button type="button" @click="login" id="loginBtn" class="btn btn-primary" disabled="disabled">登录</button>
	   		    </div>
	   		    <div class="col-sm-3">
			    	<button type="button" class="btn btn-primary" @click="goToHome">取消</button>
			    </div>
		  	</div>
		  </div>
		</form>
	  </div>
	</div>
</main-layout>