<!DOCTYPE html>
<html lang="zh">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>主页</title>
	
	<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/js/vue-router.min.js"></script>
	<script type="text/javascript" src="static/js/vue.min.js"></script>
	<script type="text/javascript" src="pages/index.js"></script>
</head>

<body class="body">
	<div id="app">
		<div class="navbar navbar-inverse" role="navigation">
		    <div class="container">
		        <div class="navbar-header">
		            <button tyep="button" class="navbar-toggle" date-toggle="collapse" data-target=".navbar-collapse">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="">主页</a>
		        </div>
		        <div class="navbar-collapse collapse">
		            <ul class="nav navbar-nav">
		                <li v-if="logged">
		                    <a href="getProfile">个人资料</a>
		                </li>
		            </ul>
		            <ul class="nav navbar-nav navbar-right">
		                <li v-if="logged">
		                    	<a> 退出  </a>
		                </li>
		                <li v-else >
		                    	<a> 登录  </a>
		                </li>
		            </ul>
		        </div>
		
		    </div>
		</div>
		
		<div class="container">
			<div style="height: 40" class="page-header" >
			    <h1 v-if="ipLocation">你好，{{ ipLocation }} 朋友。</h1>
			</div>
			<div class="row" >
				<div class="col-sm-12">
					<div align="center">
						<canvas id="canvas" width="408" height="250">
					        Download Chrome to play this game now!
					    </canvas>
						<p> 利用左右键或鼠标控制 </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="pages/game.js"></script>
</body>